﻿
@{
    Layout = null;
}



    @RenderPage("_header.cshtml"){
     
        <h2>Welcome to Activity 3 Part 1</h2>
        <h2>Current Time is @DateTime.Now </h2>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }
@RenderBody()

