﻿@model Activity1Part3.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div>
            Username: @Html.TextBoxFor(m => m.Username)
            <br />
            Password: @Html.TextBoxFor(m => m.Password)
            <br />
            <button type= "submit">Log In</button>
        </div>
    }

</body>
</html>
