﻿
<img src="~/Images/Bible.png" />
<header> <center><h1>Bible Verse Application</h1></center><br><center><a href="BibleVerseSearch">  Bible Verse Search Page   </a>
    <a href="~/Views/Home/Home.cshtml">  Home  </a></center></header>