﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
</head>

<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")

    @RenderBody()

    <hr />
    @RenderPage("~/Views/Shared/_Footer.cshtml")
   
</body>
</html>
