﻿@model Bible_Verse_App.Models.Search
@{
    ViewBag.Title = "Bible Verse";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <body>
        <center>
            @using (@Html.BeginForm("Index", "BibleVerseEntry", FormMethod.Post))

            {
                @Html.Label("Enter Both textboxes")<br />
                @Html.Label("Enter Bible Book")<br />

                @Html.TextBoxFor(m => m.SearchedBook)<br />
                @Html.Label("Enter Chapter (Make sure you entered a Book #)")<br />
                @Html.TextBoxFor(m => m.SearchChap)<br />
                <input type="submit" value="Search" />
            }
        </center>

    </body>
