﻿@model Bible_Verse_App.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <body>
        <center>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {

                <div>
                    Username: @Html.EditorFor(m => m.Username)
                    @Html.ValidationMessageFor(m => m.Username)
                    <br />
                    Password: @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)

                    <br />
                    <button type="submit">Log In</button>
                </div>
            }
        </center>
    </body>