﻿
@model List<Activity2Part1.Models.UserModel>
@{
    ViewBag.Title = "My App";

    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}


    <div>
        @Html.Label("Welcome to Razor", new { @style = "text-align = center, font-family = Arial, font-size = 24px, font-style = bold" })
        @Html.Label("My Customer are:", new { @style = "text-align = left, font-family = Arial, font-size = 18px, font-style = bold" })
        @Html.ActionLink("Refresh Page", "")

      
        <table>
            <tr>
                <th>Name</th>
                <th>EmailAddress</th>
                <th>PhoneNumber</th>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                </tr>
            }
        </table>
        
    </div>

