﻿@model Tuple<Activity3_Part1.Models.CustomerModel, List<Activity3_Part1.Models.CustomerModel>>
@{
    ViewBag.Title = "Customer Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <body>
        @Html.Label("Please select a customer");
        @Html.BeginForm("OnSelectCustomer", "Customer", FormMethod.Post, new { id = "myform" }){
        @foreach (var radio in Model.Item2)
        {
            <input type="radio" name="@radio.Name" value="@radio.ID" onchange="myform" />
            @Html.Label(radio.Name);
            <div id="customerinfo">
                @Html.Partial("_CustomerDetails", Model.Item1);
               

            </div>

        }

    </body>





