﻿@model Tuple<Activity3_Part1.Models.CustomerModel, List<Activity3_Part1.Models.CustomerModel>>

@{ 
        ViewBag.Title = "Customer Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ new AjaxOptions {HttpMethod = "POST",
      InsertionMode = InsertionMode.Replace,
      UpdateTargetId = "customerInfo"};

    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
  
    @Html.Label("Please select a customer");
    @Ajax.BeginForm("OnSelectCustomer", "Customer", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "customerInfo",
    OnSuccess = "ajaxSuccess"
}){
    @foreach (var radio in Model.Item2)
    {
        <input type="radio" name="@radio.Name" value="@radio.ID" onchange="myform" />
        @Html.Label(radio.Name);
<div id="customerinfo">
    @Html.Partial("_CustomerDetails", Model.Item1);
    @Html.Label(radio.Name);
    @Html.Label(radio.Age.ToString());
    <script>$.post('@Url.Action("GetMoreInfo", "Customer")',{ customer: 2},function(DataAnnotationsModelMetadata){ alert(DataAnnotationsModelMetadata); })</script>
</div>

    }
</body>
</html>
