﻿@model List<Activity2Part1.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
</head>
<body>
    <div>
        <b>@Html.Label("Welcome to Razor", new { @style = "text-align = center, font-family = Arial, font-size = 24px" })</b>
        <b>@Html.Label("Play with Buttons:", new { @style = "text-align = left, font-family = Arial, font-size = 18px " })</b>
        @using (@Html.BeginForm("OnButtonClick", "Button", "Post"))
        {
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {
                    <img src="~/Images/Button1.png" />
                }
                else
                {
                    <img src="~/Images/Button2.jpg" />
                }
            </button>
            <br />
            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {
                    <img src="~/Images/Button2.jpg" />
                }
                else
                {
                    <img src="~/Images/Button1.png" />
                }
            </button>
        }


    </div>
</body>
</html>
