﻿<style>
    .footer {
        text-align: center;
        position:absolute;
        bottom: 0;
        width:100%;
    }
    

</style>

<div>
    <h5>Copyright &copy; My Own Company Name</h5>
</div>