﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta naem ="viewport" content = "width=device-width, intial-scale=1.0" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script> src ="~Scripts/jquery-1.10.2min.js" </script>
    <script>src="~SCripts/bootstrap.min.js"</script> 
  
</head>
<body>
    @RenderPage("_Header.cshtml")
    <div class="container body-content">
        @RenderBody()
    </div>
 
    <hr/>
    @RenderPage("_Footer.cshtml")
</body>
</html>
